<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cover Template for Bootstrap</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
    <input type="file" id="file-picker" multiple>
    <div id="output"></div>
</body>
<script th:src="@{/js/filePicker.js}" type="text/javascript"></script>
</html>
