<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cover Template for Bootstrap</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="file" id="filepicker" name="fileList" webkitdirectory/>
    <ul id="listing" name="files"></ul>
    <input type="hidden" id="result" name="result" value="">
    <input type="submit" value="Enter">
</form>
</body>
<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/folderPicker.js}" type="text/javascript"></script>
</html>
