<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cover Template for Bootstrap</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="w-100 vh-100">
<form class="w-25 vh-100 mx-auto " style="padding-top: 15%;padding-bottom: 15%;">
    <!-- Email input -->

    <div class="form-outline mb-4">
        <input type="email" id="form1Example1" class="form-control" placeholder="Email address"/>
    </div>

    <div class="form-outline mb-4">
        <input type="password" placeholder="Password" id="form1Example2" class="form-control"/>
    </div>

    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
                <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
        </div>

        <div class="col">
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block w-100">Sign in</button>
</form>
</body>
</html>
