<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cover Template for Bootstrap</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <label>Enter your password that you will use for folders.</label>
    <input type="password" name="password" value="" id="password" class="form-control" placeholder="Enter your password">
</div>
</body>
<script th:src="@{/js/jquery-3.6.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/password.js}" type="text/javascript"></script>
</html>
